*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width:900px;
    margin:0 auto;

}
.applybox{
    max-width: 600px;
    padding:20px;
    background-color: rgb(217, 239, 167);
    margin:0 auto;
    margin-top: 50px;
    box-shadow:4px 3px 5px rgba(1,1,1,0.5);
    border-radius: 10px;

}
.formcontainer
{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}
.formcontrol
{
    display: flex;
    flex-direction: column;
}
label
{
    font-size: 18px;
    margin-bottom: 5px;
}

input,select,textarea
{
    padding:6px 10px;
    border:1px solid #ccc;
    border-radius:4px ;
    font-size: 15px;
}
input:focus{
    outline-color: red;

}
.buttoncontainer
{
    display: flex;
    justify-content: flex-end;
    margin-top:20px ;
}
button{
    background-color: red;
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 6px;
    transition: 0.1s ease-in;
    cursor: pointer;
}
button:hover{
    background-color: rgb(97, 4, 4);
    border:2px solid rgb(233, 91, 91);
    color:white;
    transition: 0.2s ease-out;
}
.address
